<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<head>
<meta charset="ISO-8859-1">
<title>LISTADO DE ANUNCIOS</title>
</head>
<body>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">FECHA</th>
				<th scope="col">TITULO</th>
				<th scope="col">DESCRIPCION</th>
				<th scope="col">PRECIO</th>
				<th scope="col">USUARIOS</th>
				<th scope="col">EMAIL</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="an : ${anuncio}">
			<td th:text="${an.fecha}"></td>
			<td th:text="${an.titulo}"></td>
			<td th:text="${an.descripcion}"></td>
			<td th:text="${an.precio}"></td>
			<td th:text="${an.user}"></td>
			<div th:each="u: ${usuario}">
			<td th:text="${u.email}"></td></div>
			
			</tr>
		</tbody>
	</table>
	<div
	th:each="an : ${anuncio}">
	<a th:href="@{|/public/lista_anuncios/${an.id_categoria}|}">Volver a anuncios</a><br></div>
</body>
</html>