<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<head>
<meta charset="ISO-8859-1">
<title>PROYECTO MIL ANUNCIOS</title>
</head>
<body>

<form action="#" th:object="${findAnuncioForm}" method="POST"
th:action="@{/public/buscar_anuncios}" class="form-horizontal">
<!-- Account Number field -->
<div class="form-group">
<label for="number">Que necesita:</label> <input type="text"
class="form-control" id="texto" th:field="*{texto}"
style="width: 10em;"/><br>
<button type="submit" class="btn btn-primary">buscar</button>
</div>

</form>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">CATEGORIAS</th>
				<th scope="col">VER</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${categorias}">
				<td th:text="${c.descripcion}"></td>
			<td><a th:href="@{|/public/lista_anuncios/${c.id_categoria}|}">ir al anuncio</a></td>
			</tr>

		</tbody>
	</table>
	
<a th:href="@{/login}">Login</a>
<a th:href="@{/sign}">Registrar</a>
</body>
</html>