<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>

<div class="mx-auto" style="width: 200px; margin-top: 50px">
<ul class="list-group">
  <li class="list-group-item active">MENU DE USUARIO</li>
  <li class="list-group-item"><a th:href="@{/private/mis_anuncios}">Listar mis productos</a></li>
  <li class="list-group-item"><a th:href="@{/private/altamis_anuncio}">Añadir anuncio</a></li>

  <li class="list-group-item"><a th:href=@{/cerrar_session}>Cerrar session </a></li>
  
</ul>
</div>
</body>
</html>